a {
  color: #4b0470
}

a:hover {
  color: #09000d
}

a.text-muted:hover {
  color: var(--sinch-grey);
}

.btn.btn-primary {
  background-color: #4b0470
}

.btn.btn-primary:hover {
  background-color: #09000d
}

.theme-line #hub-landing-top h2 {
  color: #4b0470
}

#hub-landing-top .btn:hover {
  color: #4b0470
}

.theme-line #hub-landing-top .btn:hover {
  color: #fff
}

.theme-solid header#hub-header #header-top {
  background-color: var(--sinch-purple);
}

.theme-solid.header-gradient header#hub-header #header-top {
  background: linear-gradient(to bottom, #5e058d, #2d0243)
}

.theme-solid.header-custom header#hub-header #header-top {
  background-image: url(undefined)
}

.theme-line header#hub-header #header-top {
  border-bottom-color: var(--sinch-purple);
}

.theme-line header#hub-header #header-top .btn {
  background-color: var(--sinch-purple);
}

header#hub-header #header-top #header-logo {
  width: 126px;
  height: 40px;
  margin-top: 0;
  background-image: url(https://files.readme.io/655e4e3-small-Sinch_Logotype_RGB.png)
}

nav#hub-sidebar ul a.active {
  background-color: var(--side-menu-active);
  color: var(--sinch-grey);
}

#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .dropdown-menu a:hover {
  background-color: var(--sinch-purple);
}

.discussion .submit-vote.submit-vote-parent.voted a.submit-vote-button {
  background-color: #4b0470;
}

section#hub-discuss .discussion a .discuss-body h4 {
  color: #4b0470;
}

section#hub-discuss .discussion a:hover .discuss-body h4 {
  color: #09000d;
}

#hub-subheader-parent #hub-subheader.sticky-header.sticky {
  border-bottom-color: #4b0470;
}

#hub-subheader-parent #hub-subheader.sticky-header.sticky .search-box {
  border-bottom-color: #4b0470;
}

#hub-search-results h3 em {
  color: #4b0470;
}

.main_background,
.tag-item {
  background: #4b0470 !important;
}

.main_background:hover {
  background: #09000d !important;
}

.main_color {
  color: var(--sinch-grey) !important;
}

.border_bottom_main_color {
  border-bottom: 2px solid var(--sinch-purple);
}

.main_color_hover:hover {
  color: var(--sinch-greys) !important;
}

section#hub-discuss h1 {
  color: #4b0470;
}

#hub-reference .hub-api .api-manager .param-table .param-item .param-item-info .param-item-table .param-item-input input[type=number]:focus,
#hub-reference .hub-api .api-manager .param-table .param-item .param-item-info .param-item-table .param-item-input input[type=text]:focus,
#hub-reference .hub-api .api-manager .param-table .param-item .param-item-info .param-item-table .param-item-input textarea:focus {
  border: 1px solid #4b0470;
}

#hub-reference .hub-api .api-definition .api-try-it-out.active {
  border-color: #4b0470;
  background-color: #4b0470;
}

#hub-reference .hub-api .api-definition .api-try-it-out.active:hover {
  background-color: #09000d;
  border-color: #09000d
}

#hub-reference .hub-api .api-definition .api-try-it-out:hover {
  border-color: #4b0470;
  color: #4b0470;
}

#hub-reference .hub-reference .hub-reference-section .hub-reference-left header .hub-reference-edit:hover {
  color: #4b0470;
}

.main-color-accent {
  border-bottom: 3px solid var(--sinch-purple);
  padding-bottom: 8px;
}

:root {
  --sinch-grey: #333F48;
  --sinch-yellow: #ffc658;
  --sinch-purple: #5e058d;
  --sinch-link-purple: #4b0470;
  --text-url: #0376B0;
  --nav-link: #674893;
  --sinch-white: #fff;
  --docs-description: #465159;
  --docs-textarea: #323e47;
  --dropdown-light: #ebe3ee;
  --table-odd: #eee6f3;
  --side-menu-secondary: #70787e;
  --side-menu-active: #848b91;
  --text-url-hover: #014669;
}

section#hub-content #content-container section.content-body a,
section#hub-content header .excerpt p a {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  font-weight: 500;
  color: var(--text-url);
}

#hub-search input,
#hub-subheader-parent #hub-subheader,
#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs a.dropdown-toggle:hover {
  background-color: #d3ccd6
}

#header-icon-nav > div > div.hub-subheader-breadcrumbs > span.hub-breadcrumb-item.hub-breadcrumb-item-title{
    display: none!important;
}

@media only screen and (max-width:768px) {
  #hub-subheader-parent {
    top: 85px !important
  }
}

section#hub-content #content-container section.content-body a:hover,
section#hub-content header .excerpt p a:hover {
  color: var(--text-url-hover);
}

#hub-landing-page .hub-landing-category-columns .row .col-sm-4 ul li a,
#hub-landing-page .links li a,
#hub-landing-top>a,
nav#hub-sidebar ul a {
  color: var(--side-menu-secondary);
}

nav#hub-sidebar ul a {
  border: 1px solid #fff;
  border-radius: 3px;
  width: calc(100% - 10px);
}

nav#hub-sidebar ul a.active:hover,
nav#hub-sidebar ul a:hover {
  border: 1px solid var(--sinch-grey);
  background: #fff;
  color: var(--sinch-grey);
  transition: all .3s ease-in-out;
}

#hub-sidebar-content h3 {
  width: calc(100% - 10px);
  border: 1px solid #fff;
  padding: 5px 9px 5px 9px !important;
  margin-bottom: 0px !important;
}

#hub-sidebar-content h3.product-expanded .fa-chevron-right {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding-left: 1px;
}

#hub-sidebar-content h3 .fa-chevron-right {
  font-size: 11px;
  padding-top: 4px;
  opacity: 0.7;
  float: right;
}

#hub-sidebar ul a {
  border-radius: 3px;
  margin-left: 10px;
  width: calc(100% - 20px) !important;
}

#hub-sidebar-content h3:hover {
  cursor: pointer;
  border: 1px solid var(--sinch-grey);
  background: #fff;
  color: var(--sinch-grey);
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

#hub-landing-page .hub-landing-category-columns .row .col-sm-4 ul li a:hover,
#hub-landing-page .links li a:hover,
#hub-landing-top>a:hover {
  color: var(--sinch-grey);
  text-decoration: none;
  transition: all .3s ease-in-out;
}

nav#hub-sidebar h3 {
  color: var(--sinch-grey);
}

#hub-landing-page .hub-landing-links>div h3 a {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

body,
html {
  font-family: "Atlas Grotesk Web" !important;
  font-feature-settings: "liga", "kern";
}

p {
  color: #4c555a;
}

section#hub-content #content-container section.content-toc a {
  color: #4c555a;
}

header#hub-header #header-top .hub-container {
  max-width: none;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: stretch
}

.hub-is-home #hub-landing-top {
  max-width: 1140px;
  margin: auto;
  width: 100%;
  width: -webkit-fill-available;
}

@media screen and (max-width:1180px) {
  .hub-is-home #hub-landing-top {
    padding-left: 12px;
    margin-left: 0;
  }
}

#hub-landing-top .hub-landing-description {
  max-width: 700px;
}

header#hub-header #header-top #header-logo {
  width: 116px;
  height: auto;
}

header#hub-header #header-top .clearfix nav {
  margin-top: 22px;
  width: 1024px;
}

.container {
  max-width: 1140px;
}

header#hub-header #header-top .clearfix {
  background-color: var(--sinch-white);
  padding-left: 12px;
  padding-right: 12px;
  height: 110px;
  justify-content: center;
}

.theme-line header#hub-header #header-top {
  padding: 0 0;
  border-bottom: 0 solid var(--sinch-yellow);
  background-color: var(--sinch-purple);
}

.hub-landing-description>p {
  color: var(--sinch-white) !important;
}

header#hub-header #header-top #header-nav-left li a,
header#hub-header #header-top #header-nav-left li>span,
header#hub-header #header-top #header-nav-right li a,
header#hub-header #header-top #header-nav-right li>span {
  color: var(--sinch-grey);
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 31px
}

header#hub-header #header-top #header-nav-right li a {
  background-color: var(--sinch-purple);
  color: #fff;
  padding: 8px 20px;
  border: 2px solid var(--sinch-purple);
  border-radius: 4px;
  font-size: .75rem;
  letter-spacing: 1.05px;
  line-height: 14px;
  text-align: center;
  font-weight: 600
}

header#hub-header #header-top #header-nav-right li>span {
  padding: 4px 0
}

header#hub-header #header-top #header-nav-right li {
  padding-left: 5px;
  padding-right: 5px
}

header#hub-header #header-top #header-nav-right li:first-child a,
header#hub-header #header-top #header-nav-right li:nth-child(2) a {
  background-color: #fff;
  color: var(--sinch-purple);
}

header#hub-header #header-top #header-nav-right li a:hover {
  color: var(--sinch-purple);
}

header#hub-header #header-top #header-nav-right li:first-child a:hover,
header#hub-header #header-top #header-nav-right li:nth-child(2) a:hover {
  background-color: var(--sinch-purple);
  color: #fff;
  transition: all .2s linear
}

header#hub-header #header-top #header-nav-left li a:hover {
  color: var(--sinch-purple);
  font-weight: 600;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: transparent;
  border-bottom: 4px solid var(--sinch-purple);
  border-radius: 0;
  transition: all .2s linear
}

.theme-line #hub-landing-top .btn {
  color: var(--sinhc-grey) !important;
  background-color: var(--sinch-yellow) !important;
  font-weight: 700
}

.theme-line #hub-landing-top h2 {
  color: var(--sinch-yellow);
  font-weight: 700
}

.content-body .magic-block-textarea p {
  color: var(--docs-textarea)
}

section#hub-content header .excerpt p {
  color: var(--docs-description)
}

.content-body .magic-block-api-header ol,
.content-body .magic-block-api-header ul,
.content-body .magic-block-textarea ol,
.content-body .magic-block-textarea ul {
  color: var(--docs-textarea)
}

.hub-reference-edit:hover,
.hub-reference-edit:hover .icon,
section#hub-content .suggestEdits:hover,
section#hub-content .suggestEdits:hover .icon,
section#hub-content header h1,
section#hub-content header h2 {
  color: var(--sinch-grey) !important
}

section#hub-content header h1 {
  font-weight: 600;
}

.content-body .magic-block-api-header h2,
.content-body .magic-block-api-header h3,
.content-body .magic-block-textarea h2,
.content-body .magic-block-textarea h3 {
  color: var(--docs-textarea)
}

#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .dropdown.open a.dropdown-toggle,
#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs a.dropdown-toggle:hover {
  background-color: #ebe3ee
}

#hub-search .searchbox.full .fa.fa-search,
#hub-search .searchbox:hover .fa.fa-search,
#hub-search input:focus+.fa.fa-search,
#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .dropdown.open a.dropdown-toggle span,
#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .dropdown.open a.dropdown-toggle strong,
#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs a.dropdown-toggle:hover .fa-chevron-down,
#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs a.dropdown-toggle:hover span,
#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs a.dropdown-toggle:hover strong {
  color: var(--sinch-link-purple)
}

#hub-search,
#hub-search .fa.fa-search,
#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .hub-breadcrumb-item,
#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .hub-breadcrumb-item.hub-breadcrumb-last .fa-chevron-down {
  color: var(--nav-link)
}

#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .dropdown.open .dropdown-menu {
  background-color: #ebe3ee
}

#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .dropdown-menu a {
  color: var(--nav-link);
  border-top: 1px solid #ebe3ee;
  border-bottom: 1px solid #ebe3ee
}

#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .dropdown.open a.dropdown-toggle .fa-chevron-down,
#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .dropdown.open a.dropdown-toggle span,
#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .dropdown.open a.dropdown-toggle strong {
  color: var(--sinch-link-purple)
}

#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .dropdown-menu .active {
  background-color: var(--sinch-purple);
  color: #fff;
  border-top: 2px solid var(--sinch-purple);
  border-bottom: 2px solid var(--sinch-purple)
}

#hub-subheader-parent #hub-subheader .hub-subheader-breadcrumbs .dropdown-menu a:not(.active):hover {
  background-color: #fff;
  border-top: 1px solid var(--sinch-purple);
  border-bottom: 1px solid var(--sinch-purple);
  color: var(--sinch-link-purple);
  transition: all .3s ease-in-out
}

section#hub-content #content-container .nextSteps a {
  text-decoration: none !important
}

.sticky-toc a:not(.tocHeader):hover {
  background-color: var(--dropdown-light) !important;
  color: var(--sinch-purple) !important;
  transition: all .1s ease-in
}

.sticky-toc:hover .icon,
.sticky-toc:hover a.tocHeader {
  color: var(--sinch-purple) !important;
  transition: all .3s ease-in
}

.hub-is-home footer {
  background-color: #fec656;
  padding: 48px 0
}

.footer-logo {
  width: 175px;
  height: 63px;
  margin-bottom: 25px;
}

.logo-and-info {
  width: 100%;
}

.footer-social-list {
  margin-left: 0;
  flex-flow: row nowrap;
  flex-basis: 0;
}

.footer-social-and-newsletter {
  margin-left: 0;
}

.footer-social-list .col-md-3 {
  max-width: 28px;
  padding-left: 0px;
}

.footer-social-and-newsletter {
  padding-top: 50px
}

.footer-social-menu {
  margin-left: -60px;
  margin-bottom: 1.25rem
}

.footer-headline {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-size: .875rem
}

.footer-social-menu ul li {
  list-style: none;
}

.footer-social-menu ul li .icon {
  display: block;
  width: 24px
}

.footer-social-menu .col-md-3 {
  padding-right: 5px;
}

.footer-social-and-newsletter {
  width: 100%;
}

.footer-social-and-newsletter h2 {
  text-align: center;
  margin-left: -5px;
}

footer .row {
  justify-content: center;
}

footer .row:first-child {
  margin-left: 0px;
  flex-basis: calc(1/2);
  width: 100%
}

.footer-contact p {
  margin-left: -30px;
}

#company-headline:first-line {
  font-weight: 700
}

.screen-reader-text {
  display: none
}

nav#hub-sidebar ul .subpages .subpage {
  width: calc(100% - 40px)
}

#hub-reference .hub-reference .hub-reference-section.hub-reference-section-top .hub-reference-left {
  width: 100%
}

#hub-reference.content-body.hub-reference-theme-column .hub-reference .hub-reference-section .hub-reference-right {
  width: 40vw
}

nav#hub-sidebar .scrollable-parent>.nano>.nano-pane>.nano-slider {
  background: #d3ccd6
}

#hub-reference .hub-api .api-definition button {
  border-color: var(--sinch-purple) !important;
  background-color: var(--sinch-purple) !important
}

#hub-reference .hub-api .api-definition button:hover {
  background-color: #fff !important
}

#hub-reference .hub-api .api-definition button:hover span,
#hub-reference .hub-api .api-definition:hover .icon {
  color: var(--sinch-purple) !important
}

.copy-code-button {
  background: var(--sinch-purple) !important;
  border: 2px solid var(--sinch-purple);
  border-radius: 3px;
  font-size: 12px
}

.content-body .magic-block-callout .fa {
  opacity: 0.5;
}

.copy-code-button:hover {
  background: #fff !important;
  color: var(--sinch-purple);
  transition: all .3s ease-in-out
}

#hub-reference .hub-reference .hub-reference-section p {
  font-size: 12px
}

.switcher-switch option[value^="2"] {
  color: green;
  background-color: #b3ffb3
}

.switcher-switch option[value^="4"],
.switcher-switch option[value^="5"] {
  color: #b50000;
  background-color: #fdbcbc
}

.dwnl-container .row:not(.dwnl-badge-top) {
  align-items: stretch;
  flex-flow: row wrap;
  width: 100%
}

.hub-content {
  margin: 0 auto
}



@media (max-width:1023px) {
  .dwnl-badge {
    margin-top: 15px;
    width: 100%;
    transition: all .3s ease-out
  }

  .dwnl-container .helper-libs .badge-content{
      padding-top: 10px;
      max-height: 80px;
  }

  .helper-libs .dwnl-badge-logo{
      top: 15px;
      right: 25px;
  }

  .dwnl-container {
    margin-left: 15px;
    margin-right: 15px;
    transition: all .2s ease-in
  }

  .badge-content:hover {
    box-shadow: 0 1px 10px 0 var(--sinch-link-purple);
    transition: all .2s ease-in;
    transform: scale(1.01) !important
  }
}

.dwnl-container h2,
.dwnl-container h3 {
  margin-left: 16px
}

.dwnl-container .dwnl-intro {
  margin-left: 16px
}

.dwnl-container ul {
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px
}

.dwnl-container ul li {
  list-style: circle;
  margin-left: 16px;
  font-size: inherit
}

.row.no-gutters {
  margin-top: 18px;
  margin-right: 0;
  margin-left: 0
}

.badge-content {
  display: block;
  padding-left: 15px;
  background-color: #f9f7fb;
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 1px 15px 0 grey;
  transition: all .2s ease-out;
  position: relative;
  overflow: hidden;
  height: 150px
}

.badge-content h3 {
  color: var(--sinch-link-purple);
  font-size: 1.25em
}

.dwnl-badge-title:before {
  content: "Download \A";
  font-size: .9em;
  white-space: pre
}

.badge-content:hover h3 {
  color: var(--sinch-link-purple)
}

.badge-content:hover {
  box-shadow: 0 1px 10px 0 var(--sinch-link-purple);
  transition: all .2s ease-in;
  transform: scale(1.03)
}

.dwnl-badge {
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 10px;
  margin-bottom: 10px
}

.dwnl-badge-top {
  padding-left: 16px
}

.dwnl-badge-top .dwnl-badge-git {
  position: absolute;
  top: 25px;
  right: 25px
}

.badge-content p {
  padding-left: 16px
}

.nested-anchor {
  position: relative;
  z-index: 1;
  display: inline-block
}

.badge-content .dwnl-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1
}

.badge-content .dwnl-text-anchor {
  position: relative;
  z-index: 2;
  text-decoration: underline;
  color: var(--nav-link)
}

.badge-content .dwnl-text-anchor:hover {
  color: var(--sinch-link-purple)
}

.dwnl-badge-title {
  margin-top: 0;
  margin-bottom: 10px
}

.dwnl-badge-info {
  padding-left: 16px;
  font-size: 0.80em;
}

@media (max-width:972px) {
  #header-top nav {
    display: none;
    transition: all 1s ease-in
  }
}

@media (max-width:768px) {
  .hub-container #hub-content {
    margin-top: 40px
  }
}

div.magic-block-html .marked-table {
  margin-left: 0px;
}

.hub-container, .container {
  max-width: 1400px;
}

.marked-table tbody tr:nth-child(2n+1) {
  background-color: var(--table-odd);
}

.nextSteps tr:hover td {
  background-color: #fff;
  color: var(--sinch-grey) !important;
  border: 1px solid var(--sinch-grey);
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.nextSteps {
  margin: 0 0 0 31px;
  max-width: none;
}

.nextSteps tr td {
  color: var(--side-menu-secondary) !important;
  background-color: #fff;
  border: 1px solid #fff;
}

.nextSteps table tr {
  border: none;
  overflow: hidden;
}

.nextSteps table {
  max-width: 75%;
}

.nextSteps table tr:first-child {
  border-top: none;
}

.nextSteps tr a i {
  opacity: 0.5;
  color: var(--side-menu-secondary) !important;
}

.nextSteps tr:hover a i {
  color: var(--sinch-grey) !important;
}

.nextSteps p {
  border-bottom: 1px solid #ddd;
  padding-bottom: 14px;
}

section#hub-content #content-container .nextSteps a {
  color: var(--side-menu-secondary) !important;
}

section#hub-content #content-container .nextSteps tr:hover a {
  color: var(--sinch-grey) !important;
}

.magic-block-html table td {
  border: none;
}

.magic-block-html table .header th {
  border: none !important;
}

.ug-links .row {
  align-items: stretch;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}

.ug-link {
  display: block;
  background-color: transparent;
  height: 80px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 14px;
  text-decoration: none !important;
  color: var(--sinch-link-purple) !important;
}

.ug-title:hover {
  transition: all 0.2s ease-in;
  transform: scale(1.03);
}

.ug-title {
  border: 1px solid var(--sinch-grey);
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.ug-link .title {
  font-size: 1.25em;
}

.ug-link .fab, .ug-link .fa {
  font-size: 1.25em;
  padding-right: 0.5em;
}

.fab {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-weight: normal;
  font-size: 14px;
  font-weight: normal;
  font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.ug-link, .ug-title {
  min-width: 130px;
}

.callout-title::before {
  font: normal normal normal 1.3em FontAwesome;
  display: inline-block;
  top: 1px;
  position: relative;
  margin-right: 6px;
  opacity: 0.6;
  text-rendering: auto;
  --webkit-font-smoothing: antialiased;
}

.callout-title.info::before {
  font-weight: 900;
  content: "\f05a";
}

.callout-title.warning::before {
  font-weight: 900;
  content: "\f071";
}

.callout-title.success::before {
  font-weight: 900;
  content: "\f14a";
}

.callout-title.important::before {
  font-weight: 900;
  content: "\f06a";
}

.callout-title {
  font-size: 1.25em;
}

blockquote[class*="custom-callout"] p:not(.callout-title) {
  color: rgba(0, 0, 0, .5) !important;
}

blockquote[class*="custom-callout"] {
  border-left-style: solid;
  border-left-width: 5px;
  padding: 15px 0 10px;
  margin-bottom: 1.75em;
}

.dwnl-container blockquote[class*="custom-callout"] p {
  padding-left: 31px;
  padding-right: 25px;
  font-size: 0.75em;
}

.dwnl-container blockquote[class*="custom-callout"] {
  margin: inherit;
  max-width: 800px;
}

blockquote[class*=info] {
  border-color: #5bc0de;
  background-color: #e3edf2;
}

.callout-title.info {
  color: #5bc0de;
}

blockquote[class*=important] {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}

.callout-title.important {
  color: #f0ad4e;
}

blockquote[class*=warning] {
  background-color: #fdf7f7;
  border-color: #d9534f;
}

.callout-title.warning {
  color: #d9534f;
}

blockquote[class*=success] {
  background-color: #f3f8f3;
  border-color: #50af51;
}

.callout-title.success {
  color: #50af51;
}

div.magic-block-textarea h2 {
  font-weight: 500 !important;
}

div.magic-block-textarea h3 {
  font-weight: 500 !important;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

div.magic-block-html br:not(td) {
  display: none;
}

div.magic-block-html td br {
  display: inline;
}

.dwnl-badge-logo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 25px;
}

.magic-block-html span.req-red,
.magic-block-html span.type-grey {
  font-weight: 400;
  font-style: italic;
}

.magic-block-html span.req-red {
  font-size: 0.7em;
  color: red;
}

.magic-block-html span.type-grey {
  color: var(--sinch-link-purple);
  font-size: 0.75em;
}

.magic-block-html .docutils.literal.notranslate {
  background: rgba(182, 182, 182, 0.6);
  padding: 2px;
  color: var(--sinch-grey);
}

#hub-sidebar-content a.text-overflow.subpage {
  white-space: normal;
}

/*Gitbutton*/
/*
 * Modified css from main.css to allow for medium sized vector icons
*/
.gitbutton.pill .fab {
  display: inline-block;
  font-size: 2em;
  padding-right: 5px;
  text-decoration: none !important;
}

/*
* A modified css for a git style button.
* Original css from: https://github.com/necolas/css3-github-buttons
*/
.gitbutton {
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  /*border: 1px solid #d4d4d4;*/
  margin-left: auto;
  text-decoration: none !important;
  text-shadow: 1px 1px 0 #fff;
  vertical-align: middle;
  color: var(--sinch-grey) !important;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  /* for Firefox 3.6 */
  background-clip: padding-box;
  border-radius: 0.2em;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}

.gitbutton:hover,
.gitbutton:focus,
.gitbutton:active,
.gitbutton.active {
  /*box-shadow: 0 1px 10px 0 var(--sinch-link-purple);*/
  transition: all .2s ease-in;
  transform: scale(1.03);
}

/* overrides extra padding on gitbutton elements in Firefox */
.gitbutton::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.gitbutton.pill {
  border-radius: 50em;
}

#header-icon-nav > div > div.hub-subheader-breadcrumbs > span.left-dropdown.dropdown.ng-isolate-scope{
    display: none !important;
}

.form-group .form-control {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 15px
}

.cc-compliance .cc-btn{
    color: var(--sinch-grey)!important;
}
.cc-compliance a{
    border-radius: 6px;
}

div.cc-banner{
    border-top: 3px solid var(--sinch-yellow);
}

.nextSteps tbody td.tutorial-intro-cell{
    display: block;
    width: 100%;
    height: 100%;
}

.nextSteps td.tutorial-intro-cell{
    padding-left: 20px;
    padding-right: 20px;

}

.nextSteps.tutorial-intro tbody{
    display: flex;
    flex-wrap: wrap !important;
    margin-right: 31px;

}

.nextSteps.tutorial-intro tr a i{
    display: none;
}

.nextSteps.tutorial-intro tr a.tutorial-intro-anch{
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 1.15em;
    color: var(--sinch-link-purple) !important;
}


.nextSteps.tutorial-intro td.tutorial-intro-cell{
    border: 1px solid var(--sinch-grey)!important;
    border-radius: 8px;
}

.nextSteps.tutorial-intro tr.tutorial-intro-row{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    flex: 1 1 33.333%;
    height: 80px;
    margin-bottom: 24px;
}

.nextSteps.tutorial-intro tr.tutorial-intro-row:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.03);
}

.nextSteps.tutorial-intro table{
    width: 100%;
    max-width: none;
}
